{% extends 'home.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Task Master</h1>
    {% if tasks|length < 1 %}
        <h5 style="text-align: center; color: deepskyblue;">No tasks in the list. Create one now to be PRODUCTIVE!</h5>
    {% else %}
        <table border = 2>
                <tr>
                    <th style="text-align: center">TASK</th>
                    <th style="text-align: center">ADDING DATE</th>
                    <th style="text-align: center">ACTION</th>
                </tr>
                {% for task in tasks %} <!--Jinja2 syntax: grab the task we pass on the template-->
                    <tr>
                        <td>{{ task.content }}</td> <!--return the content of each task-->
                        <td>{{ task.date_created.date() }}</td> <!--return the time that the task is created-->
                        <td>
                            <a href="/delete/{{task.id}}">DELETE</a>
                            <br>
                            <a href="/update/{{task.id}}">UPDATE</a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Name of Task">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}